<template id="template-booking-item">
    <td class="email"></td>
    <td class="activityDate"></td>
    <td class="activityDuration"></td>
    <td class="activityId"></td>
    <td class="activityType"></td>
    <td class="timeSlot"></td>
    <td class="Options text-center">
        <button type="button" class="btn btn-sm btn-primary my-1 editButton" value=""
            onclick="bookingsRenderer.editBooking(this.value)" data-bs-toggle="modal" data-bs-target="#modalEdit">
            <i class="bi bi-pencil-square">
            </i>
        </button>
        <button type="button" class="btn btn-sm btn-danger my-1 deleteButton" value=""
            onclick="bookingsRenderer.deleteBooking(this.value)">
            <i class="bi bi-trash-fill">
            </i>
        </button>
    </td>
</template>