<template id="template-booking-calendar">
    <div class="page-content" id="content">
        <h2 class="text-center">Booking</h2>

        <hr class="mb-5 bg-dark">

        <h2 class="text-center">Kalender</h2>
        <div class="container-fluid">
            <div class="calendar" id="calendar-app">
                <div class="calendar--day-view" id="day-view">
                    <span class="day-view-exit" id="day-view-exit">&times;</span>
                    <span class="day-view-date" id="day-view-date">MAJ 29 2016</span>
                    <div class="day-view-content">
                        <div class="day-highlight">
                            Der <span class="day-events" id="day-events">var ingen begivenhed i dag</span>.
                            &nbsp;
                            <span tabindex="0" onkeyup="if(event.keyCode != 13) return; this.click();"
                                class="day-events-link" id="add-event" data-date>Opret ny booking?</span>
                        </div>
                        <div class="day-add-event" id="add-day-event-box" data-active="false">
                            <div class="row row-calender">
                                <div class="row row-cols-3">
                                    <div class="col add-new-event-name">
                                        <label class="add-event-label">
                                            Navn
                                            <input type="text" class="add-event-name add-event-name--long"
                                                placeholder="Ex. Peter" id="input-add-event-name">
                                            </input>
                                        </label>
                                    </div>

                                    <div class="col add-event-start-time">
                                        <label class="add-event-label">
                                            Event start
                                            <input type="text" class="add-event-input m-0" placeholder="8:15"
                                                id="input-add-event-start-time"
                                                data-options="1,2,3,4,5,6,7,8,9,10,11,12"
                                                data-format="datetime">
                                            </input>
                                            <input type="text" class="add-event-input" placeholder="kl"
                                                id="input-add-event-start-ampm" data-options="a,p,am,pm">
                                            </input>
                                        </label>
                                    </div>

                                    <div class="col add-event-end-time">
                                        <label class="add-event-label">
                                            Event slut
                                            <input type="text" class="add-event-input" placeholder="9:15"
                                                id="input-add-event-end-time"
                                                data-options="1,2,3,4,5,6,7,8,9,10,11,12"
                                                data-format="datetime">
                                            </input>
                                            <input type="text" class="add-event-input" placeholder="kl"
                                                id="input-add-event-end-ampm" data-options="a,p,am,pm">
                                            </input>
                                        </label>
                                    </div>

                                    <div class="col">
                                        <div class="row row-cols-1">
                                            <div class="col">
                                                <a onkeyup="if(event.keyCode != 13) return; this.click();"
                                                    tabindex="0" id="add-event-save"
                                                    class="event-btn--save event-btn">
                                                    Gem
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a tabindex="0" id="add-event-cancel"
                                                    class="event-btn--cancel event-btn">
                                                    Annuller
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="day-events-list" class="day-events-list">

                        </div>
                        <div class="day-inspiration-quote" id="inspirational-quote">
                            Tilføj Booking
                        </div>
                    </div>
                </div>
                <div class="calendar--view" id="calendar-view">
                    <div class="cview__month">
                        <span class="cview__month-last" id="calendar-month-last">Apr</span>
                        <span class="cview__month-current" id="calendar-month">May</span>
                        <span class="cview__month-next" id="calendar-month-next">Jun</span>
                    </div>
                    <div class="cview__week pb-0" id="weeks-days"></div>

                    <div class="calendar--view" id="dates" style="min-height: 270px;"></div>
                </div>
                <div class="footer">
                    <span><span id="footer-date" class="footer__link">Today is May 30</span></span>
                </div>
            </div>
        </div>
    </div>

</template>