<template id="template-productItem">
    <div class="page-content" id="content">
        <h2 class="text-center">Produkt</h2>

        <div class="text-center">
            <button type="button" class="btn btn-md btn-secondary my-1" value="" onclick="productItemRenderer.openCreateProductItemModal()" data-bs-toggle="modal"
                data-bs-target="#productItemModal">
                <i class="bi bi-person-fill-add fs-4"></i>
            </button>
        </div>

        <div class="table-responsive pt-2">
            <table class="table table-striped table-bordered table-hover border-dark table-success shadow">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Pris</th>
                        <th>Produkt Type</th>
                        <th>Beskrivelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="productItem-table"></tbody>
            </table>
        </div>
    </div>
    <!-- Modal Create Product Item -->
    <div class="modal fade text-light" id="productItemModal" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Opret nyt produkt</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row row-cols-1">
                            <div class="col d-flex justify-content-center">
                                <fieldset>
                                    <legend>Navn</legend>
                                    <input type="text" class="bookingInfo-style" id="productItemName" value=""
                                        placeholder="ex. Peter" required>
                                </fieldset>
                                <fieldset>
                                    <legend>Pris</legend>
                                    <input type="text" class="bookingInfo-style" id="productItemPrice" value=""
                                        placeholder="ex. 50" required>
                                </fieldset>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <fieldset>
                                    <legend>Produkt Type</legend>
                                    <input type="text" class="bookingInfo-style" id="productItemProductType" value=""
                                        placeholder="ex. Drikkevarer" required>
                                </fieldset>
                                <fieldset>
                                    <legend>Beskrivelse</legend>
                                    <input type="text" class="bookingInfo-style" id="productItemDescription" value=""
                                        placeholder="ex. frisk læskende drik med 0 gram. sukker." required>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Modal Body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary btn-productItem-modal"></input>
                </div>
            </div>
        </div>
    </div> <!-- End Modal Create Product Item -->
</template>

<template id="template-productItem-table">
    <td class="productItem-name"></td>
    <td class="productItem-price"></td>
    <td class="productItem-productType"></td>
    <td class="productItem-description"></td>
    <td class="Options text-center">
        <button type="button" class="btn btn-sm btn-primary my-1 btn-edit-productItem" value=""
            onclick="productItemRenderer.openEditProductItem(this.value)" data-bs-toggle="modal"
            data-bs-target="#productItemModal">
            <i class="bi bi-pencil-square">
            </i>
        </button>
        <button type="button" class="btn btn-sm btn-danger my-1 btn-delete-productItem" value=""
            onclick="productItemRenderer.deleteProductItem(this.value)">
            <i class="bi bi-trash-fill">
            </i>
        </button>
    </td>
</template>