<template id="template-schedule">
    <div class="page-content" id="content">
        <h2 class="text-center">Personale vagtplan</h2>

        <!-- <section class="section container-fluid home" ng-controller="StartController as mainCtrl">
            <div class="container-fluid">
                <ul class="nav flex-column">
                    <li class="nav-link">
                        <a href="#menu-toggle" id="menu-toggle">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    <div class="dx-viewport demo-container">
                        <div id="scheduler"></div>
                    </div>
                </ul>
            </div>
        </section> -->

        <div class="dx-viewport demo-container">
            <div class="mx-auto" id="scheduler"></div>
        </div>

    </div>
</template>